/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#background-Picture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-Picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding: 10px;
}

.logoAndCatalog {
    display: flex;
    align-items: center;
}

.logoAndCatalog img {
    margin-right: 10px;
}

.SearchBar {
    flex-grow: 1;
}

.SearchBar input {
    height: 30px;
    padding: 5px;
    border: 1px solid black; /* Add border style */
    border-radius: 5px;
}

.navbar {
    background-color: rgba(159, 203, 250, 0.8);
    backdrop-filter: blur(10px);
    padding: 10px;
    transition: background-color 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar:hover {
    background-color: rgb(159, 203, 250);
}

h3 {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

h3:hover {
    transform: scale(1.05);
}

h3 a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
}

h3 a:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4CAF50;
    bottom: -5px;
    left: 0;
}

h3 button {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

h3 button:hover {
    background-color: #45a049;
}

.ndHeader {
    background-color: rgb(216, 254, 255);
    padding-top: 60px;
}

.TopStory {
    display: flex;
    border: 1px solid #ddd;
    justify-content: center;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    overflow: hidden;
}

.story-container {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
}

.TopStory .Kryesorja {
    flex: 1;
}

.TopStory img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.views_date p {
    justify-content: flex-start;
}

.TopStory .views_date {
    flex: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TopStory .views_date {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
}

.read-more-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-button:hover {
    background-color: #45a049;
}
.LatestStoriesSlider {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}


.slider-container {
    overflow: hidden;
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.slider-item img {
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust the maximum width as needed */
    max-height: 300px; /* Adjust the maximum height as needed */
    border-radius: 8px;
}

.slider-navigation {
    margin-top: 10px;
}

.slider-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    margin: 1px 5px;
}
.slider-button:hover {
    background-color: #45a049;
}

.LatestStoriesSlider .rubrika img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    /* Add responsive styles for smaller screens */
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Add responsive styles for medium-sized screens */
}

@media only screen and (min-width: 901px) {
    /* Add responsive styles for larger screens */
}
/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#background-Picture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-Picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding: 10px;
}

.logoAndCatalog {
    display: flex;
    align-items: center;
}

.logoAndCatalog img {
    margin-right: 10px;
}

.SearchBar {
    flex-grow: 1;
}

.SearchBar input {
    height: 30px;
    padding: 5px;
    border: 1px solid black; /* Add border style */
    border-radius: 5px;
}

.navbar {
    background-color: rgba(159, 203, 250, 0.8);
    backdrop-filter: blur(10px);
    padding: 10px;
    transition: background-color 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar:hover {
    background-color: rgb(159, 203, 250);
}

h3 {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

h3:hover {
    transform: scale(1.05);
}

h3 a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
}

h3 a:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4CAF50;
    bottom: -5px;
    left: 0;
}

h3 button {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

h3 button:hover {
    background-color: #45a049;
}

.ndHeader {
    background-color: rgb(216, 254, 255);
    padding-top: 60px;
}

.TopStory {
    display: flex;
    border: 1px solid #ddd;
    justify-content: center;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    overflow: hidden;
}

.story-container {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
}

.TopStory .Kryesorja {
    flex: 1;
}

.TopStory img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.views_date p {
    justify-content: flex-start;
}

.TopStory .views_date {
    flex: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TopStory .views_date {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
}

.read-more-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-button:hover {
    background-color: #45a049;
}

.LatestStoriesSlider {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.slider-container {
    overflow: hidden;
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.slider-navigation {
    margin-top: 10px;
}

.slider-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    margin: 1px 5px;
}

.slider-button:hover {
    background-color: #45a049;
}

.LatestStoriesSlider .rubrika img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer styles */
.footer {
    background-color: #333; /* Change to your preferred color */
    color: #fff;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

.f {
    display: flex;
    justify-content: space-between;
}

.ff a {
    margin-right: 15px;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.f {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start */
}

.f h3, .footermain p {
    margin: 0;
}

.ff a {
    margin-right: 15px;
}

.footermain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start */
    margin-top: 20px;
}

.footerleft, .footercenter, .footerright {
    flex: 0 0 30%;
}

.fundi {
    margin-top: 20px;
    font-size: 14px;
}

/* Add other styles as needed */

/* Media Queries */
@media only screen and (max-width: 600px) {
    /* Add responsive styles for smaller screens */
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Add responsive styles for medium-sized screens */
}

@media only screen and (min-width: 901px) {
    /* Add responsive styles for larger screens */
}
/* Contact Us Section Styles */

.contact-us-section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container table{
    background: #ccc;
}

.container table td, .container table th{
    padding: 10px;
}

.container table th{
    background: #666;
    color: #ddd;
}

.container table td a{
    text-decoration: none;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    transition: 0.1s all ease-in;
}

.editBtn{
    background: #f0ad4e;
}

.deleteBtn{
    background: #d9534f;
}

.container table td a:hover{
    opacity: 80%;
}

.formContainer{

    padding: 50px;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    background: #ccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;

    opacity: 85%;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formContainer form label{
    align-self: flex-start;
}

.formContainer form input, .formContainer form textarea{
    padding: 10px;
}

.formContainer form textarea{
    resize: vertical;
}

.formContainer input[type="submit"]{
    padding: 20px 10px;
    border-radius: 20px;
    border: none;
    transition: 0.3s all ease-in;
    cursor: pointer;
    font-weight: bold;
    background: #aaaaff;
}

.formContainer input[type="submit"]:hover{
    background: #f7f7f7;
}

.containerss {
    max-width: 800px;
    margin: 0 auto;
}

header .hamburger{
    display: none;
    transition: 0.3s all;
}

@media only screen and (max-width: 900px) {
    
    header nav{
        position: absolute;
        right: 0px;
        background-color: rgba(159, 203, 250, 0.8);
        padding: 30px;
        top: 65px;
        display: none;
    }

    header nav h3{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    header nav a{
        margin: 0;
        width: 100%;
    }

    header nav form{
        width: 100%;
    }


    header .hamburger{
        display: block;
        cursor: pointer;
        font-size: 20px;
        transform: rotate(90deg);
        font-weight: bold;
        user-select: none;
    }
    
}

.contact-us-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-us-section p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.contact-form {
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #45a049;
}

.contact-info h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-info p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 15px;
}

