.LatestStoriesSlider {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value for transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.slider-container {
    overflow: hidden;
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;2
}

.slider-item {
    flex: 0 0 100%;
            box-sizing: border-box;
}

.slider-navigation {
    margin-top: 10px;
}

.slider-button {
    background-color: #4CAF50;
            border: none;
            color: white;
            padding: 8px 10px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 12px;
            transition: background-color 0.3s ease; /* Smooth color transition */
            margin: 1px 5px;
}
.slider-button:hover{
    background-color: #45a049;
}

/* Adjust the height of the slider items */
.LatestStoriesSlider .rubrika img {
    width: 100%;
            height: 100%;
            object-fit: cover;
}
.slider-button:hover {
    background-color: #45a049; /* Darker color on hover */
}

  
* {
    margin: 0;
    padding: 0;
     /* Include padding and border in the box model */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

#background-Picture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-Picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding: 10px;
}

.logoAndCatalog {
    display: flex;
    align-items: center;
}

.logoAndCatalog img {
    margin-right: 10px;
}

.SearchBar {
    flex-grow: 1;
}

.SearchBar input {
    height: 30px;
    padding: 5px;
    border: black;
    border-radius: 5px;
}
.navbar {
    background-color: rgba(159, 203, 250, 0.8); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Adds a blur effect to the background */
    padding: 10px;
    transition: background-color 0.5s ease; /* Smooth background color transition */
    position: fixed; /* Fixed positioning */
    width: 100%; /* Full width */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure it's above other elements */
}

.navbar:hover {
    background-color: rgb(159, 203, 250); /* Fully opaque white background on hover */
}

h3 {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease; /* Smooth scale transition on hover */
}
h3:hover {
    transform: scale(1.05); /* Scale up on hover */
}

h3 a {
    text-decoration: none;
    color: #333; /* Change text color */
    margin: 0 15px;
    font-size: 16px;
    position: relative;
}

h3 a:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4CAF50; /* Green underline color */
    bottom: -5px;
    left: 0;
}

h3 button {
   
        background-color: #4CAF50;
        border: none;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease; /* Smooth color transition */
  
}

h3 button:hover {
    background-color: #45a049; /* Darker color on hover */
}

.ndHeader {
    background-color: rgb(216, 254, 255);
    padding-top: 60px;

}

.TopStory {
    display: flex;
    border: 1px solid #ddd;
    justify-content: center;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for transparency */
    border-radius: 8px;
    overflow: hidden;
}


.story-container {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
}

.TopStory .Kryesorja {
    
    flex: 1;
}

.TopStory img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.views_date p{
    justify-content: flex-start;
}

.TopStory .views_date {
    flex: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Add this to your existing CSS */
.TopStory .views_date {
   /* position: absolute;
    bottom: 0;
    right: 0; /* Adjusted from left: 50% to right: 0 */
    width: 50%; /* Adjusted width to 50% */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
}
/* .TopStory .views_date p {
    position: relative;
} */


.read-more-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 10px; /* Adjust the padding to control the size */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; /* Adjust the font size */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-button:hover {
    background-color: #45a049;
}



.LatestStories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rubrika {
    position: relative;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
}


.rubrika:hover {
    transform: scale(1.05);
}

.rubrika .views_date {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
}



footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
}

.f {
    display: flex;
    justify-content: space-between;
}

.ff a {
    margin-right: 15px;
}

.footermain {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footerleft, .footercenter, .footerright {
    flex: 0 0 30%;
}

.fundi {
    margin-top: 20px;
    font-size: 14px;
}


/* Styling for the slider buttons */
.slider-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth color transition */
}


.slider-button:hover {
    background-color: #45a049; /* Darker color on hover */
}

/*CONTACT US STYLE*/
#contact-us {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.containerss {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-us-section h2 {
    color: #333;
}

.contact-us-section p {
    color: #666;
    margin-bottom: 20px;
}

.contact-form {
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: lightseagreen;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: darkseagreen;
}

.contact-info {
    text-align: left;
}

.contact-info h3 {
    color: #333;
    margin-bottom: 10px;
}

.contact-info p {
    color: #666;
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
    .LatestStoriesSlider, .TopStory, .story-container, .LatestStories {
        flex-direction: column;
    }

    .slider-item, .TopStory .views_date, .rubrika {
        width: 100%;
    }

    .navbar, .headerContainer {
        flex-direction: column;
        padding: 5px;
    }

    .SearchBar input, .contact-form input, .contact-form textarea {
        width: 90%; 
    }

    .footerleft, .footercenter, .footerright {
        flex: 0 0 100%;
    }

    .headerContainer, .logoAndCatalog, .SearchBar, .nav-links {
        flex-grow: 1;
    }
}


@media only screen and (min-width: 601px) and (max-width: 900px) {
    .slider-item {
        flex: 0 0 50%;
    }

    .TopStory .views_date, .rubrika {
        width: 75%;
    }

    .navbar, .headerContainer {
        flex-direction: row;
    }

    .footerleft, .footercenter, .footerright {
        flex: 0 0 33.3333%;
    }
}


@media only screen and (min-width: 901px) {
    .slider-item {
        flex: 0 0 33.3333%;
    }

    .TopStory .views_date, .rubrika {
        width: 50%;
    }

    .footerleft, .footercenter, .footerright {
        flex: 0 0 30%;
    }
}